extend admin 

block admincontent 
    .admin-product 
    form#product-search.search-item 
        .input-box 
            label(for="name") name :- 
            input(type="text" name="name") 
        .input-box 
            label(for="code") code :- 
            input(type="text" name="code") 
        button.admin-btn(type="submit") search
    .admin-product-container
        .product-table 
            table 
                tr
                    th Sl.no 
                    th name
                    th address
                    th price
                    th action
                each order , index in orders
                    tr 
                        td=`${index + 1}`
                        td=order.user.name
                        td=order.address
                        td=order.price
                        td 
                            a(href=`/admin/order/${order.id}`) edit