extend admin 

block admincontent
    .enq-mng-container 
        .enq-info-box 
            .enq-info 
                h2.enq-name=enquary.name
                p.enq-phone=enquary.phone
                p.enq-email=enquary.email
                p.date=enquary.createdAt.toLocaleDateString()
                p.enq-type=enquary.type
            .enq-action 
                a(href=`/enquary/${enquary.id}/schedule`).admin-btn schedule
                button.admin-btn update
                button.admin-btn delete
        .schedule-box 
            .schedule-head.align-center 
                p Schedule
            ul.schedule-list 
                each schedule , index in schedules
                    li 
                        p.sl-no=`${index + 1}`
                        p.sl-no=schedule.scheduleDate.toLocaleDateString()
                        p.sl-no=schedule.method
                        p.sl-no=schedule.message
                        p.sl-no D   U