extend base

block content
    section.hero
        .hero-box.hero-box-1
            img(src="./image/photo1.jpg" alt="")
        .hero-box.hero-box-2
            img(src="./image/photo2.jpg" alt="")
        .hero-box.hero-box-3
            img(src="./image/photo1.jpg" alt="")
        .hero-box.hero-box-4
            img(src="./image/photo2.jpg" alt="")

    section.catagory
        .catagory-box.catagory-box-1
            img(src="/./image/cat1.jpg", alt="")
        .catagory-box.catagory-box-1
            img(src="/./image/cat2.jpg", alt="")
        .catagory-box.catagory-box-1
            img(src="/./image/cat3.jpg", alt="")
        .catagory-box.catagory-box-1
            img(src="/./image/cat4.jpg", alt="")

    section.second-catagory
        header.cat-header.align-center
            h3 all categories
        .align-center.cat-parent
            .shop-cat.home-cat
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/pasapali-saree.png" alt="")
                    .cat-name Sambalpuri Saree
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/double-border-safta.png" alt="")
                    .cat-name Sambalpuri DoubleBorder Saree
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/patch-work.png" alt="")
                    .cat-name Sambalpuri Patch Work
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/tisu-pata.png" alt="")
                    .cat-name Sambalpuri Tisu Pata Saree
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/pere-pere-safta-pata.png" alt="")
                    .cat-name Sambalpuri Pata Saree
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/pata-dress-piece.png" alt="")
                    .cat-name Sambalpuri Pata Dress Meterial
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/utkal-laxmi-dress.png" alt="")
                    .cat-name Sambalpuri Dress Meterial
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/sambalpuri-anarkali.png" alt="")
                    .cat-name Sambalpuri Ledies Kurti
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/gents-kurta.png" alt="")
                    .cat-name Sambalpuri Gents Kurta
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/sambalpuri-blezer.png" alt="")
                    .cat-name Sambalpuri Blazer
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/kids-kurta.png" alt="")
                    .cat-name Sambalpuri Kids Kurta
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/kids-frock.png" alt="")
                    .cat-name Sambalpuri Kids Frock
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/gamcha.png" alt="")
                    .cat-name Sambalpuri Gamcha
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/lungi.png" alt="")
                    .cat-name Sambalpuri Lungi
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/jotha.png" alt="")
                    .cat-name Sambalpuri Jatha
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/matha-Scarpe.png" alt="")
                    .cat-name Sambalpuri Swal
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/safta-bedsheet.png" alt="")
                    .cat-name Sambalpuri Bedsheet
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/dupatta.png" alt="")
                    .cat-name Sambalpuri Duppta
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/rumal.png" alt="")
                    .cat-name Sambalpuri Rumal
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/blouse-piece.png" alt="")
                    .cat-name Sambalpuri Blouse Piece
                .shop-cat-box 
                    .cat-img
                        img(src="/./image/catagory/wall-hanging.png" alt="")
                    .cat-name Sambalpuri Wall Hanging
                
    section.top-product 
        h2.sub-heading top catagory
        .home-product-container
            each product of products 
                a(href=`/product/${product.id}`).product-card 
                    img.product-img(src=`/./image/product/${product.mainphoto}`, alt="")
                    .product-info 
                        p.offer=`${product.discount}% off`
                        h2.product-name=product.name 
                        p.product-price=`₹${product.price}.00`
                        p.product-discounted=`₹${product.price - (product.price * product.discount / 100)}.00`